---
- block:
  - name: Stow snap
    command: stow -v -t ~ -d {{ role_path }}/files -S . --no-folding
    register: snap_output
    changed_when: '"LINK" in snap_output.stderr'

  - name: Optionally install snapd
    package:
      name: snapd
    become: true
    ignore_errors: true
    tags:
    - optional

  tags:
  - snap
