---
- block:
  - name: Install nvm
    shell:
      # Override XDG_CONFIG_HOME="" to ensure the NVM_DIR=~/.nvm
      cmd: |
        set -o pipefail
        curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | grep -v '>> "$NVM_PROFILE"' | XDG_CONFIG_HOME="" bash
      executable: /bin/bash
      creates: ~/.nvm/nvm.sh

  - name: Stow nvm
    command: stow -v -t ~ -d {{ role_path }}/files -S . --no-folding
    register: output
    changed_when: '"LINK" in output.stderr'
    notify: Update zgen

  - name: Install default node version
    shell:
      cmd: . ~/.nvm/nvm.sh && nvm install --lts && nvm alias default lts/*
      executable: /bin/bash
      creates: ~/.nvm/alias/default

  tags: nvm
