---
- block:
  - name: Stow wget
    command: stow -v -t ~ -d {{ role_path }}/files -S . --no-folding
    register: wget_output
    changed_when: '"LINK" in wget_output.stderr'

  - name: Optionally install wget
    package:
      name: wget
    ignore_errors: true
    become: true
    tags:
    - optional
  tags:
  - wget
