[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/vim-css3"]
	path = .vim/bundle/vim-css3
	url = git://github.com/hail2u/vim-css3-syntax.git
[submodule ".vim/bundle/vim-soy"]
	path = .vim/bundle/vim-soy
	url = git://github.com/duganchen/vim-soy.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/timgreen/vim-tagbar.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/vim-nanoc"]
	path = .vim/bundle/vim-nanoc
	url = git://github.com/timgreen/vim-nanoc.git
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/PKGBUILD"]
	path = .vim/bundle/PKGBUILD
	url = git://github.com/vim-scripts/PKGBUILD.git
