[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/vim-css3"]
	path = .vim/bundle/vim-css3
	url = git://github.com/hail2u/vim-css3-syntax.git
[submodule ".vim/bundle/vim-soy"]
	path = .vim/bundle/vim-soy
	url = git://github.com/duganchen/vim-soy.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/timgreen/vim-tagbar.git
