---
- block:
  - name: Install navi
    shell:
      cmd: |
        set -o pipefail
        BIN_DIR=$HOME/bin bash <(curl -sL https://raw.githubusercontent.com/denisidoro/navi/6bc0e1dc97e01f5e0ab1c6008196612f96ee8ad7/scripts/install \
          | grep -v 'append_to_file ')
      executable: /bin/bash
      creates: $HOME/bin/navi

  - name: Stow navi
    command: stow -v -t ~ -d {{ role_path }}/files -S . --no-folding
    register: navi_output
    changed_when: '"LINK" in navi_output.stderr'

  tags: navi
