---
- block:
  - name: Install ag / ack
    package:
      name:
      - ack
      - '{{ ag[ansible_pkg_mgr] }}'
    vars:
      ag:
        apt: silversearcher-ag
        pacman: the_silver_searcher
    become: true

  - name: Stow ack
    command: stow -v -t ~ -d {{ role_path }}/files -S . --no-folding
    register: ack_output
    changed_when: '"LINK" in ack_output.stderr'

  tags:
  - ack
