---
- block:
  - name: Stow fzf_git
    command: stow -v -t ~ -d {{ role_path }}/files -S . --no-folding
    register: fzf_git_output
    changed_when: '"LINK" in fzf_git_output.stderr'

  - name: Include git config | fzf
    shell: |
      git config --global --get include.path \.gitconfig_fzf || \
        git config --global --add include.path .gitconfig_fzf
    check_mode: false
    changed_when: false

  tags:
  - fzf_git
