---
- block:
  - name: Stow smart_title
    command: stow -v -t ~ -d {{ role_path }}/files -S . --no-folding
    register: smart_title_output
    changed_when: '"LINK" in smart_title_output.stderr'

  tags:
  - smart_title
