---
- block:
  - name: Stow tig
    command: stow -v -t ~ -d {{ role_path }}/files -S . --no-folding
    register: tig_output
    changed_when: '"LINK" in tig_output.stderr'

  - name: Optionally install tig
    package:
      name: tig
    ignore_errors: true
    become: true
    tags:
    - optional

  tags:
  - tig
