---
- block:
  - name: Install zoxide
    package:
      name: zoxide
    become: true

  - name: Stow zoxide
    command: stow -v -t ~ -d {{ role_path }}/files -S . --no-folding
    register: zoxide_output
    changed_when: '"LINK" in zoxide_output.stderr'

  tags:
  - zoxide
