---
- block:
  - name: Stow scripts
    command: stow -v -t ~ -d {{ role_path }}/files -S . --no-folding
    register: gui_scripts_output
    changed_when: '"LINK" in gui_scripts_output.stderr'

  - name: Install X tools
    package:
      name:
      - xprintidle
      - xdotool
    become: true

  tags:
  - gui_scripts
