---
- block:
  - name: Check tmux version
    command: bash -c "tmux -V | cut -d' ' -f 2-"
    register: compile_tmux_tmux_version
    changed_when: false
    check_mode: false
    ignore_errors: true

  - name: Echo installed tmux version
    debug:
      msg: >
        Installed tmux verion:
        {{ compile_tmux_tmux_version.stdout }}
        Minimum tmux version:
        {{ compile_tmux_minimum_tmux_version }}

  tags:
  - compile_tmux
  - skip_in_ci

- block:

  - name: Install deps | apt
    become: true
    apt:
      state: latest
      name:
      - libevent-dev
          # - libevent
      - ncurses-dev
          # - ncurses
      - build-essential
      - autoconf
      - bison
      - pkg-config
      - libutf8proc-dev
      - libutf8proc2
      - libutempter-dev
      - libutempter0
    when: ansible_pkg_mgr == 'apt'

  - name: Install deps | yum
    become: true
    community.general.pacman:
      state: latest
      name:
      - libevent-devel
          # - libevent
      - ncurses-devel
          # - ncurses
      - autoconf
      - gcc
      - make
      - bison
      - pkg-config
    when: ansible_pkg_mgr == 'yum'

  - name: Git checkout
    git:
      repo: https://github.com/tmux/tmux.git
      dest: '{{ compile_tmux_git_dest }}'
      update: true
      clone: true
      depth: 1

  - name: Compile tmux
    command: '{{ item }}'
    args:
      chdir: '{{ compile_tmux_git_dest }}'
    loop:
    - sh autogen.sh
    - >
      ./configure
      --prefix={{ compile_tmux_configure_prefix }}
      --enable-utempter
      --enable-utf8proc
    - make
    changed_when: false

  - name: Install tmux
    command: make install
    args:
      chdir: '{{ compile_tmux_git_dest }}'
    become: true
    changed_when: false

  - name: Clean up
    ansible.builtin.file:
      path: '{{ compile_tmux_git_dest }}'
      state: absent

  when: compile_tmux_tmux_version.stdout is version(compile_tmux_minimum_tmux_version, '<')
  tags:
  - compile_tmux
  - skip_in_ci
