---
- block:
  - name: Install rustup
    ansible.builtin.shell:
      cmd: |
        set -o pipefail
        curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | bash -s -- -y
      executable: /bin/bash
      creates: ~/.cargo/env

  - name: Stow rustup
    ansible.builtin.command: stow -v -t ~ -d {{ role_path }}/files -S . --no-folding
    register: rustup_output
    changed_when: '"LINK" in rustup_output.stderr'

  tags:
  - rustup
