---
- block:
  - name: Stow git
    command: stow -v -t ~ -d {{ role_path }}/files -S . --no-folding
    register: git_output
    changed_when: '"LINK" in git_output.stderr'

  - name: Include git config | common
    shell: |
      git config --global --get include.path \.gitconfig_common || \
        git config --global --add include.path .gitconfig_common
    check_mode: false
    changed_when: false

  tags:
  - git
