---
- block:
  - ansible.builtin.import_tasks: swhkd_compile.yml

  - name: Stow swhkd
    command: stow -v -t ~ -d {{ role_path }}/files -S . --no-folding
    register: swhkd_output
    changed_when: '"LINK" in swhkd_output.stderr'

  - name: Enable Service
    ansible.builtin.systemd:
      name: swhkd
      scope: user
      enabled: true
    tags:
    - skip_in_ci

  - name: Start Service
    ansible.builtin.systemd:
      name: swhkd
      scope: user
      state: started
      enabled: true
    tags:
    - skip_in_ci

  tags:
  - swhkd
