---
- block:
  - name: Stow cursor_theme
    command: stow -v -t ~ -d {{ role_path }}/files -S . --no-folding
    register: cursor_theme_output
    changed_when: '"LINK" in cursor_theme_output.stderr'

  tags:
  - cursor_theme
