---
- block:
  - name: Stow zgen
    command: stow -v -t ~ -d {{ role_path }}/files -S . --no-folding
    register: zgen_output
    changed_when: '"LINK" in zgen_output.stderr'
    notify: Update zgen

  tags:
  - zgen
