---
- block:
  - name: Install tools
    package:
      name:
      - git
      - stow
    become: true

  - name: Setup skeleton
    command: stow -v -t ~ -d {{ role_path }}/files/{{ item }} -S . --no-folding
    register: skeleton_output
    changed_when: '"LINK" in skeleton_output.stderr'
    loop:
    - ssh
    - tmux
    - zsh
    - vim-plug
    - wget
    - curl

  - name: Make sure ~/.zsh_functions
    ansible.builtin.file:
      path: ~/.zsh_functions
      state: directory
      mode: '0755'

  - name: Tmux TPM
    ansible.builtin.git:
      repo: https://github.com/tmux-plugins/tpm
      dest: ~/.tmux/plugins/tpm
      update: true
      force: true

  - name: Vim plug
    ansible.builtin.get_url:
      url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
      dest: ~/.vim/autoload/plug.vim
      mode: u=rw,g=r,o=r

  tags:
  - skeleton
