---
- block:

  - name: Ensure sysctl
    package:
      name: '{{ sysctl[ansible_pkg_mgr] }}'
    vars:
      sysctl:
        # https://command-not-found.com/sysctl
        pacman: procps-ng
        apt: procps
    become: true

  - name: Set swappiness value to {{ swappiness_value }}
    ansible.posix.sysctl:
      name: vm.swappiness
      value: '{{ swappiness_value }}'
      state: present
    become: true
    tags:
    - skip_in_ci             # not supported in the container

  tags:
  - swappiness
