---
- block:
  - name: Stow navi cheats
    command: stow -v -t ~ -d {{ role_path }}/files -S . --no-folding
    register: navi_cheats_output
    changed_when: '"LINK" in navi_cheats_output.stderr'

  tags: navi_cheats
