---
name: Ansible Lint check

# yamllint disable-line rule:truthy
on:
  push:
  pull_request:
  schedule:
  - cron: 15 12 * * 1       # At 12:15 on Monday.

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Lint Ansible Playbook
      uses: ansible/ansible-lint
