---
name: Ansible check ubuntu:latest  # feel free to pick your own name

on:
  push:
  pull_request:
  schedule:
  - cron: 15 12 * * 1       # At 12:15 on Monday.

jobs:
  build:

    runs-on: ubuntu-latest
    container: ubuntu:latest

    steps:
    - uses: actions/checkout@v5

    - name: Install Ansible
      run: |
        apt-get update
        apt-get install -y ansible

    - name: Run Ansible Playbook
      run: ansible-playbook --tags mini,cli,gui,dev --skip-tags skip_in_ci,navi local.yml
