---
- block:
  - name: Stow aria2
    command: stow -v -t ~ -d {{ role_path }}/files -S . --no-folding
    register: aria2_output
    changed_when: '"LINK" in aria2_output.stderr'

  - name: Optionally install aria2c
    package:
      name: aria2
    ignore_errors: true
    become: true
    tags:
    - install_aria2c
    - optional

  tags:
  - aria2
