---
- block:
  - name: Stow cli_tools
    command: stow -v -t ~ -d {{ role_path }}/files -S . --no-folding
    register: cli_tools_output
    changed_when: '"LINK" in cli_tools_output.stderr'

  - name: Install cli tools
    package:
      name:
      - curl
      - wget
      - tree
      - ncdu
      - jq
      - tldr
      - bat               # for batcat
      - autossh
      - rclone
      - eza               # fzf-tab need it for 'cd'
      - rsync
    become: true
    ignore_errors: true

  tags:
  - cli_tools
