---
- block:
  - name: Stow 3d printing
    command: stow -v -t ~ -d {{ role_path }}/files -S . --no-folding
    register: 3d_printing_output
    changed_when: '"LINK" in 3d_printing_output.stderr'

  tags:
  - 3d_printing
